

@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}


@media (min-width: 768px) {
    .container-extended {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}



.dropdown-extended {

    border: 0px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.375);
    border-top: 3px solid #c61001!important;
    padding: 8px 8px!important;
    width:300px;
}

.dropdown-a-extended {

    color: #2c2c2c !important;
   /* font-size: 13px;*/
   /*padding: 1.55rem!important;*/
}

.dropdown-a-extended:hover {

    color: #c61001 !important;
    background-color: #da4a34;

}

.dropdown-li-extended {
    padding: 8px 0px;

    border-bottom: 1px solid #ecf2f8;
}


.dropdown-li-a-extended{

    white-space: normal!important;
    color: #2c2c2c !important;
    font-size: 15px;



}


.dropdown-li-a-extended:hover {

    background-color: #f4f4f4 !important;
    border-radius: 4px !important;
    color: #c61001 !important;

}

.dropdown-menu-hover:hover {

    background-color: #f8f6f6;

}

.brand-link-extended {

    font-size: 17px;
    padding-top: 1px;
    color: #c61001!important;
}

.brand-link-extended:hover {

    font-size: 17px;

    color: #31a8ff !important;

}

img.brand-image{

    display: inline;
    margin-left: 0px;
    vertical-align: bottom;

}

.brand-div{

    display: inline-block;
    padding-left: 12px;
    margin-bottom: 10px;
    line-height: 25px;
}




.nav-shadow{
    border-top: 1px solid #f4f4f4;
    padding-top: 10px;
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
    /* box-shadow: 0 3px 6px 0 rgba(50,50,50,.3); */
    height: 92px;
/* background: linear-gradient(to right, #f2e1ff, #fffaf9 );*/
}

.nav-bar-padding{

  padding-top: 13px;

}

.nav-button{

    margin-top: 19px!important;

}




@media only screen and (max-width: 768px) {
    .nav-bar-collapsed-ul {
        background-color: #fff;

    }
}


@media only screen and (max-width: 767px) {
    .nav-bar-collapsed {
        margin-top: 19px;
        position: relative;
        z-index: 1000;
        background-color: #fff;
        border-bottom: 2px solid #708662 !important;
        border-top: 2px solid #708662 !important;
        font-size: 15px;
        margin-bottom: 0px;
        padding-top: 0px!important;
    }
}






.container-no-top-padding-extended{

padding: 35px 15px 20px!important;

}

.main-pages-extended{

    padding-left: 0px;
    padding-right: 0px;
    position: static;

}

/*
Делает плитку одинаковой высоты и ширины.
*/
.row-flex {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;

}


.row-padding{

    padding-left: 15px;
    padding-right: 15px;

}


/* vertical spacing between columns */

[class*="col-"] {
  /* margin-bottom: 30px;*/
}

.plates {
    min-height: 20px;
    height: 250px;
    padding: 19px;
   /* margin-bottom: 20px;*/
    background-color: #e4f4ff;
    border: 0.04em solid #fff;
    border-radius: 8px;
}

.plates:hover {
    background-color: #f4fafe;
    -webkit-transition: plates-img 0.2s ease;
}

/* Данная конструкция позваоляет анимировать внутренний элемент*/

.plates:hover > p > .plates-img{
    margin-left:4px;
    -webkit-transition: all 0.1s 0.0s ease-in;
}
/*
.plates:hover ~ .plates-img {
    -moz-transition: all 0.5s 0.3s ease-in;
    -o-transition: all 0.5s 0.3s ease-in;
    -webkit-transition: all 0.5s 0.3s ease-in;
    background-color: rgba(0,0,0,0.3);

}
*/

.plates-title {

    color: #131415;
    font-size: 17px;
}

.plates-under-title {
    font-size: 12px;
    color: #82878f;
}


body {

    /*background-color: #ededed !important;*/
    font-family: Arial;

}


h1 {

    font-size: 24px;

}
.h1-all {

    margin: auto;
    padding-bottom: 10px;
    margin-top: 11px;
    color: #5a5a5a;
    font-size: 20px;
}

.h1-main {

    display: inline-flex;
    padding-bottom: 10px;
}

.h1-and-breadcrumbs{

    padding-left: 15px;

}


.breadcrumbs{

    color: #b2b2b2;
    padding-left: 0px;

}


.breadcrumbs-item{

    float: left;
    margin-right: 5px;
}

h2 {

    font-size: 20px;

}

p{

    color: #7a7a7a;
    font-size: 13px;

}


a:hover{

    text-decoration: none;

}


a{

    text-decoration: none;

}






/*

Footer

*/

footer{
    background-color: #f3f3f3;
    padding:0px 0px;
}

footer .fa:hover{
/*    color:#675f5f;*/
}

.logo{
    color:#FFF;
   /* font-weight:800;*/
    font-size:30px;
}

.adress span , .contact span , .social span , .header-form{
    color:#675f5f;
  /*  font-weight: 800;*/
    padding-top:20px;
    padding-bottom:20px;
    display: block;
   /* text-transform: uppercase;*/
    font-size: 15px;
   /* letter-spacing: 3px;*/
}

.adress li p , .contact li a , .social li a{
    /*color:#675f5f;*/
  /*  letter-spacing: 2px;*/
    text-decoration:none;
    font-size:13px;
}

.adress, .contact , .social{
   list-style: none;
    padding-left:0px;
}

.social li{
    float:left;
}

.fa{
    color:#9c9c9c;
    margin-right: 10px;
    font-size:14px;
}

.btn-search{
    background: #484848;
    border: none;
    color: #FFF;
    padding: 5px 15px;
}

.input-search{
    border: none;
    height: 30px;
    padding-left: 10px;
}

.globe-size {

    font-size: 20px;
    color: #687997;
    margin-right: 6px;
}


.choose-languages {

    cursor: pointer;
    padding-top: 19px;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    width: 90px;

}

.sort-down-languages {

    padding-bottom: 6px;
    padding-left: 5px;

}


.choose-languages:hover .languages-dropdown {
    display: block;
}


.languages-dropdown {
    position: absolute;
    bottom: 20px;
    left: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    z-index: 9;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .35);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .35);
    background-color: #fff;
    padding: 12px 14px 12px;
    border-radius: 6px;
    display: none;
    font-size: 13px;
    max-height: 80vh;
    width: 350px;
    overflow: auto;
    margin-left: 16px;
    column-count: 3;


}

@media (max-width: 768px) {
    .choose-languages {
        display: none;
    }
}



@media (min-width: 768px) {
    .text-md-left {
        text-align: left!important;
    }
}

ol, ul {
    list-style: none;
}

.show-only-small-resolution {

    display: none;

}


@media (max-width: 768px) {
    .show-only-small-resolution {
        display: block;
    }
}

.social-center{
    text-align: center;
}


.comments-width{

    width: 100%;
    text-align: center;
    display: block;
}
/*Fb Comments Width Fix*/
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
    max-width: 100% !important;
    width: 100% !important;
}
